<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="DefaultSessionStateProvider">
      <providers>
        <add name="DefaultSessionStateProvider" type="System.Web.Providers.DefaultSessionStateProvider,System.Web.Providers, Version=1.0.0.0, Culture=neutral" connectionStringName="ClowaConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
  </system.web>
</configuration>