<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EFDataModelEntities" connectionString="metadata=res://*/EFDataModel.csdl|res://*/EFDataModel.ssdl|res://*/EFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=clowa.com;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EFMemberShip" connectionString="metadata=res://*/EFDataModel.csdl|res://*/EFDataModel.ssdl|res://*/EFDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=clowa.com;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MemberShip" connectionString="metadata=res://*/EFMemberShip.csdl|res://*/EFMemberShip.ssdl|res://*/EFMemberShip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=clowa.com;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>